@font-face {
    font-family: "IranianSans";
    src: url("../font/iranSans.eot");
    src: url("../font/iranSans.eot#iefix") format("embedded-opentype"),
    url("../font/iranSans.woff") format("woff"),
    url("../font/iranSans.ttf") format("truetype"),
    url("../font/iranSans.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    vertical-align: middle;
    background: transparent;
    font-family: IranianSans, Lato, Helvetica, Arial, sans-serif;
    line-height: 100%;
    direction: rtl;
    color: #444;
}

html {
    background: #fff;
}

body {
    padding: 0;
    margin: 0;
}

pre {
    white-space: pre-wrap;
    background-color: #eee;
    color: #555;
    direction: ltr!important;
    padding: 10px;
    margin: 20px 30px;
}

pre, code {
    font-family: Courier, monospace !important;
}

p {
    margin: 5px 20px;
    padding: 5px 10px 10px 10px;
}

h1 {
    background-color: #555;
    color: #999;
    padding: 20px;
    margin-bottom: 30px;
}

h2 {
    background-color: #edfbff;
    color: #49b5ff;
    padding: 10px ;
}

h3 {
    color: #00aced;
    padding: 10px ;
}

h4 {
    color: #9aff52;
    padding: 10px ;
}

h5 {
    color: #bd8ae2;
    padding: 10px ;
}

ul {
    padding: 0 10px;
    margin: 10px 35px;
}

li {
    padding: 7px 0;
}

a {
    color: #cd3e3d;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #b4100e;
    color: #b4100e;
}
